<% layout('layout') -%>
<div class="container main-content">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <img src="<%= user.profile.pic %>" alt="" class="img-circle img-responsive img-center">
      <br>
      <p>Name: <%= user.profile.name%></p>
      <p>Email: <%= user.email%></p>
      
      <% if (user.profile.address === "") {%>
      <p>Address: <span style="color: #c0392b; font-weight: bold; ">Please update profile with your address.</span></p>

      <% } else { %>

      <p>Address: <%= user.profile.address%></p>

      <% } %>

      <a class="btn btn-primary btn-lg" href="/update-profile">Update Profile</a>
    </div>
    <div class="col-md-6">
      <h2 class="text-center">History</h2>

      <table class="table table-striped sticky-header">
        <thead>
          <tr>
            <th>Item's Name</th>
            <th class="text-right">Paid:</th>
          </tr>
        </thead>
        <tbody>
          <% for (var i = 0; i < user.history.length; i++) { %>
            <tr>
              <td><%= user.history[i].item.name %></td>
              <td class="text-right">$ <%= user.history[i].paid.toFixed(2) %></td>
            </tr>
          <% } %> 
        </tbody>
      </table>
    </div>
  </div>
</div>